<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ tasks.name }}</h1>
            <h2>Tasks</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Due Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in tasks.items.all %}
                        <tr>
                            <td>{{ items.task }}</td>
                            <td>{{ items.due_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </div>
    </main>
</body>
</html>
